.panel.statistic-box > .panel-body {
  padding: 10px 12px;
  transition: background-color 0.1s ease-in-out;
}
.panel.statistic-box > .panel-body:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.statistic-list {
  min-width: 250px;
}
.panel.statistic-box.statistic-list .panel-heading {
  text-align: center;
  padding: 11px 22px 9px;
}
.panel.statistic-box.statistic-list .panel-body {
  padding: 10px 12px;
}
.panel.statistic-box.statistic-list > .panel-body > div:first-child img {
  height: 1.6em;
  margin-top: -0.2em;
}
.panel.statistic-box.statistic-list .items > *:not(:last-child) {
  margin-bottom: 0.3em;
  padding-bottom: 0.2em;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
